@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$red: #CC003D;
$gray: #54425D;
$blue: #0023DC;
$green: #94D50C;
$purple: #4D3BFF;
$orange:#FF5917;
$grey-dark:#424141;
$grey-darker: #262525;
$family-sans-serif: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

// Update Bulma's global variables
$family-primary: $family-sans-serif;
$family-secondary: "Roboto", "Times New Roman", sans-serif;
$primary: $red;
$link: $blue;
$info: $gray;
$success: $green;
$warning: $orange;
$background: $grey-dark;
$text-strong: $gray;
$widescreen-enabled: true;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $grey-dark;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import "../bulma/sass/utilities/_all.sass";
@import "../bulma/bulma.sass";
