@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import "reset";
@import "redpurple";

// Set your brand colors
$red: #CC003D;
$gray: #050505;
$blue: #0025dc9f;
$green: #94D50C;
$purple: #4D3BFF;
$orange:#FF5917;
$grey-dark:#424141;
$grey-darker: #262525;
$family-sans-serif: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

// Update Bulma's global variables
$family-primary: $family-sans-serif;
$family-secondary: "Open Sans", "Nunito", "Times New Roman", sans-serif;
$primary: $red;
$link: $blue;
$info: $gray;
$success: $green;
$warning: $orange;
$background: $grey-dark;
$text-strong: $gray;
$widescreen-enabled: true;
$fullhd-enabled: true;

// Update some of Bulma's component variables
$body-background-color: #ffffff;
$control-border-width: 2px;
$box-color: rgba(255,200,255,.8);
$box-background-color: rgba(255,255,255,.8);
$input-border-color: $grey-dark;
$input-shadow: none;
$navbar-item-hover--color: $primary;
$navbar-burger-color: $primary;

.remove-all-styles {
    all: revert;
  }

.calendar-widget {
  float: left;
}

#header-logo {
  position : relative;
  background-size: cover;
}

a.navbar-item:hover{
color: $primary;
}

.toolbar {
  margin-bottom: 10px;
}

.toolbar-item a {
  background-color: #fff;
  border: 1px solid #c0c0c0;
  color: #333;
  padding: 8px 0px;
  width: 80px;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.toolbar-item a.selected-button {
  background-color: #f3f3f3;
  color: #000;
}

/* context menu icons */
.icon:before {
  position: absolute;
  margin-left: 0px;
  margin-top: 3px;
  width: 14px;
  height: 14px;
  content: '';
}

.icon-blue:before { background-color: #3d85c6; }
.icon-green:before { background-color: #6aa84f; }
.icon-orange:before { background-color: #e69138; }
.icon-red:before { background-color: #cc4125; }

/* active areas */
.area-menu-icon {
  background-color: #333333;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 10px;
  opacity: 0.7;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}    

.area-menu-icon:hover {
  opacity: 1;
}









@import "../bulma/sass/utilities/_all.sass";
@import "../bulma/bulma.sass";

